/* viewCart.css */

.cart-container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart-item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.cart-item h2 {
    margin-bottom: 5px;
}



button{
    background-color: #ff6666;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e60000;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.total h2 {
    margin-bottom: 5px;
}

.total p {
    font-size: 20px;
    font-weight: bold;
}
.Checkout{
    
    padding: 10px 20px;
    font-size: 16px;
    background-color: #82d757;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
      

    
 .Checkout:hover {
        background-color: #82b816; /* Darker green on hover */
      }