
.card-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.msg-farmer {
  width: 73%;
  margin: 0 auto;
  padding: 20px;
  background-color: #2c2c2c85;
  border: 5px solid #fff;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.497);

}
@media screen and (max-width: 768px) {
  .msg-farmer {
    padding: 15px;
    border-width: 8px;
  }
}
.card {
  width: 330px;
  flex: 0 1 calc(25% - 30px); /* Initial width of each card */
}

@media screen and (max-width: 768px) {
  .card {
    flex: 0 1 calc(50% - 50px); /* Adjust the width of each card for smaller screens */
  }
  /* Optionally, you can further decrease the width for even smaller screens */
  @media screen and (max-width: 395px) {
    
    .card {
      
      flex: 0 1 calc(100% - 30px); /* Adjust the width of each card for even smaller screens */
    }
  }
}


