.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2c2c2ced; /* Set your background color */
}
.navbar-brand img {
  margin-left: 20px;
  height: 35px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #000; 
}

.navbar-links ul {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #000; /* Set your link color */
}

.profile-dropdown {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.profile-dropdown img {
  height: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff; /* Set your dropdown background color */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: #000; /* Set your dropdown link color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Set your dropdown link hover color */
}

.dropdown-divider {
  border-top: 1px solid #ccc; /* Set your dropdown divider color */
  margin: 6px 0;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #f8f9fa; /* Set your background color */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-toggle.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}
