.container3 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.heading3 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff; /* Text color changed to white */
}

.profile3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px; /* Adjust width as needed */
  max-width: 90%;
  margin: auto; /* Center horizontally */
  min-height: 500px; /* Adjust height as needed */
}

.profile3 img {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Make the image circular */
  margin-bottom: 20px; /* Add space between image and details */
  object-fit: cover;
}

.profile3 div {
  text-align: center; /* Center text */
}

.profile3 form {
  display: flex;
  flex-direction: column;
}

.profile3 label {
  margin-bottom: 5px;
}

.profile3 input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile3 button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #82d757;
  color: #fff;
  cursor: pointer;
}

.profile3 button:hover {
  background-color: #82b816;
}
