.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 750px;
  }
  
  h1 {
    color: #fff;
    text-align: center;
  }
  
  .notification-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  @media (max-width: 768px) {
    .notification-list {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  