.card_div {
  width: 100vw; /* Change width to full viewport width */
  height: 100vh; /* Change height to full viewport height */
}

.card1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  width: 90vw; /* Change width to 90% of viewport width */
  max-width: 90%;
  margin-left: 5vw; /* Adjust margin to center horizontally */
  margin-top: 5vh; /* Adjust margin to center vertically */
  /* justify-content: center; */
}

.card1:hover {
  background-color: #000000ca;
  transition: background-color 0.3s ease;
}

.card1-img {
  flex: 0 0 auto;
  padding-right: 30px;
  margin: 10px;
}

.card1-img img {
  display: flex;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.card1-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card1-info h3 {
  margin: 0;
  color: #ffffff;
  padding-right: 40%;
}

.card1-info p {
  margin: 0;
  color: #ffffff;
  padding-right: 40%;
}

.card1-buttons {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.card1-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card1-buttons button:hover {
  background-color: #2ae24c;
}

.card1-buttons button:active {
  background-color: #00ab42;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .card1-buttons {
    position: static;
    margin-top: 10px;
    justify-content: center;
  }
}
