.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
  }
  
  .dropdown-item {
    color: white;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-toggle:hover
  {
    background-color: #82d757;
  }
  
  .search-bar {
    margin: 20px auto;
    width: 80%;
    max-width: 90%;
    display: flex;
    align-items: center;
    width: 1200px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #82d757;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-bar button:hover {
    background-color: #82b816;
  }
  
  .SearchBarContainer{
    min-height: 200px;
  }

  .search-bar input {
    background-color: rgba(0, 0, 0, 0.5); /* Black translucent background */
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: white;
  }
  
