.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
  }
  
  .login-form,
  .signup-form {
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
    padding: 20px;
    border-radius: 8px;
    flex: 1;
  }
  
  .signup-form {
    margin-right: 10px; /* Add some space between forms */
  }
  
  .login-form {
    margin-left: 10px; /* Add some space between forms */
  }
  